/* body{
    background-color: #e1d89f ;
    color: #2c061f;
    padding: 1%;
}

hr{
    color: #374045;
    border: none;
    border-top: dotted #374045;
    overflow: visible;
    position: relative;
    width: 50%;
    border-width: 5px;
    
}
.heading{
    display: flex;
    flex-direction: row;
}
.myname{
    padding-top: 5%;
    padding-left: 1em;
    flex-direction: column;
}
.profile_pic{
    align-items: left;
    border-radius: 50%;
    height: 20%;
    width: 20%;
}

.thisbody{
    align-items: center;
    padding-left: 10%;
} */

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navbar {
  background-color:  #334443;
  color: white;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  margin-top: 4rem;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-caption p{
  width: 75%;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;

}
rect{
  fill: #334443;
}

.btn{
  background-color: #00af91;
  border-color: white;
}

 
.btn:hover {
  background-color: #55b3b1;
  color: #334443;
  border: none;
}

.btn.my-sm-0{
  color: white;
}

.profile_pic {
  padding: 2%;
  padding-right: 50%;
  padding-left: 25%;
  margin-left: 40%;
  margin-right: 50%;
  position: relative;
  border-radius: 100%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.icon:hover{
  color:darkslategrey
}

.col-lg-4 h2{
  padding-top: 5%;
}

.row.icons{
  padding-bottom: 0;
  padding-top: 5%;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin-top: 5rem; /* Space out the Bootstrap <hr> more */

}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.col-md-7{
  padding-top: 0;
  margin-top: 0;
}
.superHighway{
  height: 50vh;
  padding-top: 5rem;
  
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}